<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body >
    <div class="flex flex-row gap-5">
    <!-- left side  -->
    <section class=" " >
        <!-- sidebar section -->
        <div class="sidebar bg-cyan-500 w-64 h-full max-sm:w-14 ">
            <!-- desktop screen  -->
            <div class="btns mx-6 pt-10 pb-5 flex flex-col justify-between h-full max-sm:hidden ">
                <ul class="mt-6 space-y-4 ">

                    <!-- dashboard  -->
                    <li class="">
                        
                        <a href="{{ url_for('dashbaord') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-6" src="./images/dashboard-interface.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Dashboard</label>
                        </a>
                    </li>

                    <!-- tasks  -->
                    <li class="">
                        
                        <a href="{{ url_for('task') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-7" src="./images/task.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Task</label></a>
                    </li>

                    <!-- todo  -->
                    <li class="">
                        
                        <a href="{{ url_for('todo') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/todo.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Todo</label></a>
                    </li>

                    <!-- feature  -->
                    <li class="">
                        <a href="{{ url_for('feature') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/feature.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Features</label></a>
                    </li>

                    <!-- Issues  -->
                    <li class="">
                        
                        <a href="{{ url_for('issue') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/add-task.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Issues</label></a>
                    </li>

                    <!-- employee  -->
                    <li class="">
                        
                        <a href="{{ url_for('employee') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/employee.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Employee</label></a>
                    </li>
                     <!-- ..admins -->
                     <li class="">
                        
                        <a href="{{ url_for('register_admin') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/employee.png" alt="">
                            <label class="text-[22px] text-white font-semibold">Admins</label></a>
                    </li>
                    
                </ul>

                <li class="">
                        
                    <a href="{{ url_for('profile') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                       
                        <button class="mt-5 px-16 w-[100%] py-3 bg-white rounded hover:bg-gray-200  font-semibold text-md">Profile</button>
                </li>
            </div>

            <!-- mobile screen  -->
            <div class="btns relative mx-2 pt-10 pb-5 flex flex-col justify-between items-end h-full hidden max-sm:block">
                <ul class="mt-6 space-y-4 ">
                    <li class="">
                        <!-- dashboard -->
                        <a href="{{ url_for('dashbaord') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-6" src="./images/dashboard-interface.png" alt="">
                            
                        </a>
                    </li>

                    <!-- tasks  -->
                    <li class="">
                        
                        <a href="{{ url_for('task') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-7" src="./images/task.png" alt="">
                        </a>
                    </li>

                    <!-- todo  -->
                    <li class="">
                        
                        <a href="{{ url_for('todo') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/todo.png" alt="">
                        </a>
                    </li>

                    <!-- feature  -->
                    <li class="">
                        
                        <a href="{{ url_for('feature') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/feature.png" alt="">
                        </a>
                    </li>
                    <!-- issues  -->
                    <li class="">
                        
                        <a href="{{ url_for('feature') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/add-task.png" alt="">
                        </a>
                    </li>

                    <!-- employee  -->
                    <li class="">
                        
                        <a href="{{ url_for('employee') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <img class="size-8" src="./images/employee.png" alt="">
                        </a>
                    </li>
                    
                </ul>
                
                <div class="absolute bottom-5  block hover:bg-cyan-600 p-2 rounded flex items-center gap-3">
                    <li class="">
                        
                        <a href="{{ url_for('profile') }}" class="block hover:bg-cyan-600 p-2 rounded flex items-center gap-3 ">
                            <button class=" "><img class="size-7" src="./images/user.png" alt=""></button>
                            
                        </a>
                    </li>
                </div>
                
            </div>
        </div>
        
    </section>
                 

    <!-- right side  -->

    <section class="my-5 w-full">
        <h2 class="font-bold text-3xl ">Todo</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flex flex-col items-center mt-4"> <!-- Container for centered messages -->
            {% for category, message in messages %}
              <div id="task_creation_settimeout" class="bg-cyan-500 text-white text-center px-10 width-[500px] h-[60px] flex items-center justify-center rounded-md mb-2 {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
        
        <table class="border-collapse  w-[90%] mx-auto leading-10 text-start mt-20 max-sm:text-[10px]">
            <tr class="border-b-2 border-gray-300 leading-4 ">
                <th class="text-start">Task id</th>
                <th class="text-start">Task name</th>
                <th class="text-start">Status</th>
                <th class="text-start">Priority</th>
                <th class="text-start">Employee name</th>
                <th class="text-start">Actions</th>

            </tr>
            {% for todo in all_todos %}
            <tr>
                    <td>{{ todo[0] }}</td>
                    <td>{{ todo[1] }}</td>
                    <td>{{ todo[2] }}</td>
                    <td>{{ todo[3] }}</td>
                    <td>{{ todo[4] }}</td>

                    <td>
                        <form action="{{ url_for('todo') }}" method="post">
                            <input type="text" name="todo_id" id="" value="{{ todo[0] }}" hidden>

                            <button name="cancel_todo" type="submit" class="bg-orange-500 w-[100px] h-[40px] rounded-md text-white">Cancel</button>
                        </form>
                    </td>
               
            </tr>

            {% endfor %}
         
            
        </table>
    </section>


    

    </div>

   

    <script>

        
let task_create = document.querySelector('#task_creation_settimeout')
        setTimeout(() => {
            task_create.style.display = 'none'
        }, 2000);
    </script>



</body>
</html>